.search-result {
  margin-top: 30px;
}

.artists
{
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 30px;
}
.letters
{
  padding-left: 80px;
  padding-right: 80px;
}
.letters ul li
{
  width: 46px;
  height: 38px;
  border-radius: 19px;
  background: #eef2f6;
  text-align: center;
  margin-bottom: 10px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.letters ul li:not(:last-of-type)
{
  margin-right: 4px;
}
.letters ul li:hover
{
  background: #2ac275;
}
.letters ul li a
{
  display: block;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #2a2a2a;
  line-height: 42px;
  text-transform: uppercase;
  text-decoration: none;
}
.letters ul li:hover a
{
  color: #ffffff;
}

.search-bar {
  width: 1200px;
  height: 100px;
  margin: 20px auto;
}
