

<div  *ngIf="message" class="alert alert-success">
  <p style="color: green">{{message}}</p>
</div>

<div  *ngIf="failMessage" class="alert alert-danger">
  <p style="color: red;">{{failMessage}}</p>
</div>

<form [formGroup]="createPlaylist"  (ngSubmit)="create()">
  <div class="form-group">
    <input type="text" class="form-control rounded"  placeholder="Playlist Name" formControlName="name">
    <p style="color: red" *ngIf="createPlaylist.get('name').invalid && createPlaylist.get('name').touched">
      name playlist not blank
    </p>
  </div>
  <div class="form-group">
    <label for="image">Upload playlist images:</label>
    <input type="file" id="image" (change)="displayImage($event)">

<!--    <label style="cursor: pointer; margin: auto" for="image"><i class="fa fa-upload" aria-hidden="true"></i> Upload playlist images</label>-->
<!--    <input type="file" id="image" (change)="displayImage($event)" accept="image/*" hidden>-->
<!--    <p style="color:red;" *ngIf="createPlaylist.get('uploadFile').invalid && createPlaylist.get('uploadFile').touched">You need to Upload File</p>-->
  </div>
  <button type="submit" class="btn btn-primary">Create Playlist</button>
</form>
