<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb3.jpg);">
  <div class="bradcumbContent">
    <h2>Chill with #BTB</h2>
  </div>
</section>
<div class="box-content">
  <div class="box-left col-md-5">
    <h5>Home / {{song.category.name}} / {{song.name}} </h5>
    <div class="song-info">
      <div class="song-name">
        <h1>{{song.name}} - {{singer.name}}</h1>
      </div>
      <div class="song-views">
        <h2><i class="fa fa-headphones"></i> {{song.views}}</h2>
      </div>
    </div>
    <div class="play-area">
      <div class="player-mp3">
        <div class="avatar">
          <img id="songImg" src="{{song.songImage}}" alt="">
        </div>
        <div class="info-song">
          <img id="songAvatar" src="{{song.songImage}}" alt="">
          <h2> {{singer.name}} </h2>
        </div>
      </div>
      <div class="control-bar">
        <audio src="{{song.songLink}}" controls autoplay style="width: 100%; background-color: black"></audio>
      </div>
    </div>

  </div>
  <div class="right-menu col-md-3"> Menu</div>
</div>

<button class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModal" data-whatever="PlayList name">
  <img class="iconEditPL" src="assets/img/edit.png">
</button>
<table>
  <tr>
    <td>Tên bài hát</td>
    <td>{{song.name}}</td>
  </tr>
  <tr>
    <td>Tác giả</td>
    <td>{{song.songAuthor}}</td>
  </tr>
  <tr>
    <td>Ca sĩ</td>
    <td>{{singer.name}}</td>
  </tr>
  <tr>
    <td>Likes</td>
    <td>{{song.likes}}</td>
  </tr>
  <tr>
    <td>Views</td>
    <td>{{song.views}}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>{{song.description}}</td>
  </tr>
  <tr>
    <td>Nghe nhạc</td>
    <td>
      <!--<audio preload="auto" controls>
        <source src="https://firebasestorage.googleapis.com/v0/b/project-module-5.appspot.com/o/uploads%2FBigcityboi-Binz-Touliver.mp3?alt=media&token=fad94b03-0cbe-49a5-b06f-4c2284bc4bd8">
      </audio>-->
      <audio src="{{song.songLink}}" controls></audio>
    </td>
  </tr>
</table>
<audio id="player" src="{{song.songLink}}" controls></audio>
<div>
  <button onclick="document.getElementById('player').play()">Play</button>
  <button onclick="document.getElementById('player').pause()">Pause</button>
  <button onclick="document.getElementById('player').volume += 0.1">Vol+</button>
  <button onclick="document.getElementById('player').volume -= 0.1">Vol-</button>

  <section class="events-area">
    <div class="container">
      <div style="width: 70%; margin: 30px auto 0 auto">
        <h3 style="font-weight: bold">Comment:</h3>
        <form>
          <div>
            <textarea formControlName="content" style="width: 100%; height: 60px; border-radius: 10px"></textarea>
          </div>
          <button type="submit" class="btnComment btn-secondary">Comment</button>
        </form>
      </div>
    </div>
  </section>

  <section class="events-area">
    <div class="container">
      <div style="width: 70%; margin: 20px auto 0 auto">
        <h5>user</h5>
        <p>date</p>
        <p>content</p>
      </div>

    </div>
  </section>

  <!--thêm 1 cài hát vào playlist-->
  <div style="height: 600px" class="modal fade " id="exampleModal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add song in playlist</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="list-group overflow-auto" *ngFor="let playlist of playlistIDUser">
              <a class="list-group-item list-group-item-action"><h5
                (click)="idPlaylist(playlist.id)">{{playlist.name}}</h5></a>
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" (click)="addsong()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
