<!-- Single Top Item -->
<div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
  <div class="first-part d-flex align-items-center">
    <div class="thumbnail">
      <img src="../../../assets/img/bg-img/wt7.jpg" alt="">
    </div>
    <div class="content-">
      <h6>Sam Smith</h6>
      <p>Underground</p>
    </div>
  </div>
  <audio preload="auto" controls>
    <source src="../../../assets/audio/dummy-audio.mp3">
  </audio>
</div>

