<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb3.jpg);">
  <div class="bradcumbContent">
    <h2>{{song.name}}</h2>
  </div>
</section>
<img [src]="song.songImage" alt="">
<button class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModal" data-whatever="PlayList name" >
  <img class="iconEditPL" src="assets/img/edit.png">
</button>
<table>
  <tr>
    <td>Tên bài hát</td>
    <td>{{song.name}}</td>
  </tr>
  <tr>
    <td>Tác giả</td>
    <td>{{song.songAuthor}}</td>
  </tr>
  <tr>
    <td>Ca sĩ</td>
    <td>{{singer.name}}</td>
  </tr>
  <tr>
    <td>Likes</td>
    <td>{{song.likes}}</td>
  </tr>
  <tr>
    <td>Views</td>
    <td>{{song.views}}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>{{song.description}}</td>
  </tr>
  <tr>
    <td>Nghe nhạc</td>
    <td>
      <!--<audio preload="auto" controls>
        <source src="https://firebasestorage.googleapis.com/v0/b/project-module-5.appspot.com/o/uploads%2FBigcityboi-Binz-Touliver.mp3?alt=media&token=fad94b03-0cbe-49a5-b06f-4c2284bc4bd8">
      </audio>-->
      <audio src="{{song.songLink}}" controls></audio>
    </td>
  </tr>
</table>

<section class="events-area">
  <div class="container">
    <div style="width: 70%; margin: 30px auto 0 auto">
      <h3 style="font-weight: bold">Comment:</h3>
      <form>
        <div >
          <textarea formControlName="content" style="width: 100%; height: 60px; border-radius: 10px"></textarea>
        </div>
        <button type="submit" class="btnComment btn-secondary">Comment</button>
      </form>
    </div>
  </div>
</section>

<section class="events-area">
  <div class="container">
    <div style="width: 70%; margin: 20px auto 0 auto" >
      <h5>user</h5>
      <p>date</p>
      <p>content</p>
    </div>

  </div>
</section>

<!--thêm 1 cài hát vào playlist-->
<div style="height: 600px" class="modal fade " id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add song in playlist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="list-group overflow-auto" *ngFor="let playlist of playlistIDUser">
            <a  class="list-group-item list-group-item-action"><h5 (click)="idPlaylist(playlist.id)">{{playlist.name}}</h5></a>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" (click)="addsong()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
