table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

table td {
  width: 200px;
}

.box-content {
  width: 100%;
  float: left;
}

.box-left {
  width: 60%;
  float: left;
}

.right-menu {
  float: left;
  background-color: #1abc9c;
}

.song-info {
  float: left;
  width: 100%;
}

.song-name {
  float: left;
  width: 80%;
}

.song-views {
  text-align: right;
  width: 30%;
}

.play-area {
  clear: left;
  width: 100%;
  height: auto;
  background-color: black;
}

.player-mp3 {
  width: 100%;
  height: 100%;
}

.avatar {
  width: 40%;
  height: 100%;
  padding: 3px 5px 5px 5px;
  float: left;
}

.info-song {
  width: 60%;
  float: left;
  height: 100%;
  padding-top: 5%;
  text-align: center;
  color: white;
}

#songImg {
  width: 287px;
  height: 240px;
}

#songAvatar {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  border-radius: 50%;
}

.control-bar {
  clear: both;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
}

/* Style buttons */
.btn {
  background-color: rgb(30, 144, 255); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */

}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(65, 105, 225);
}

.btn-add-playlist {
  background-color: rgba(30, 144, 255, 0); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */

}

/* Darker background on mouse-over */
.btn-add-playlist:hover {
  background-color: rgba(65, 105, 225, 0);
}

.iconEditPL {
  width: 30px;
  height: 30px;
}


.btnComment {
  background-color: rgb(30, 113, 255); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  margin-bottom: 30px;
}

.btnComment:hover {
  background-color: #042eff;
}

