table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

table td {
  width: 200px;
}


/* Style buttons */
.btn {
  background-color: rgb(30, 144, 255); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */

}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.iconEditPL {
  width: 15px;
  height: 15px;
}
