<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb3.jpg);">
</section>

<div class="container pt-5 pb-5">

  <div class="row p-5" *ngFor="let i of array">
    <div class="col-md-4">
      <div class="card promoting-card">
        <div class="view overlay">
          <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg"
               alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="p-3">
          <div >
            <h5 class="card-text font-bold text-center" id="collapseContent">SƠN TÙNG MTP</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card promoting-card">
        <div class="view overlay">
          <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg"
               alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="p-3">
          <div >
            <h5 class="card-text font-bold text-center" >SƠN TÙNG MTP</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card promoting-card">
        <div class="view overlay">
          <img class="card-img-top rounded-0" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg"
               alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="p-3">
          <div >
            <h5 class="card-text font-bold text-center" >SƠN TÙNG MTP</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
