<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb3.jpg);">
<!--  <div class="bradcumbContent">-->
<!--    <p>See what’s new</p>-->
<!--    <h2>Playlist</h2>-->
<!--  </div>-->
</section>


<section class="events-area section-padding-100">
  <div class="container">
    <table class="table" style="width: 70%; margin: 0 auto">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name Song</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
