<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
  <!-- Navbar Area -->
  <div class="oneMusic-main-menu">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Menu -->
        <nav class="classy-navbar justify-content-between" id="oneMusicNav">

          <!-- Nav brand -->
          <a routerLink="/" class="nav-brand"><img src="assets/img/core-img/logoBTB1-trang.png" alt=""></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">

            <!-- Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/myPlaylist">Albums</a></li>
                <li><a routerLink="/playlist">Playlist</a></li>
                <li><a routerLink="/playlist-song">News</a></li>
                <li><a [routerLink]="['/edit', 1]">Sua</a></li>
                <li>
                  <a routerLink="/newSong" class="btn btn-info btn-lg">
                    <i class="fa fa-upload" aria-hidden="true"></i> Upload
                  </a>
                </li>
              </ul>

              <!-- Login/Register & Cart Button -->
              <div class="login-register-cart-button d-flex align-items-center">
                <!-- Login/Register -->

                <div class="ogin-register-btn mr-50">
                  <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="/user">{{ username }}</a>
                </div>

                <div class="login-register-btn mr-50">
                  <a *ngIf="isLoggedIn" (click)="logOut()">Logout</a>
                </div>

                <div class="login-register-btn mr-50">
                  <a *ngIf="!isLoggedIn" routerLink="/login" id="loginBtn">Login</a>
                </div>

                <div class="login-register-btn mr-50">
                  <a *ngIf="!isLoggedIn" routerLink="/registration" id="registerBtn">Register</a>
                </div>

              </div>
            </div>
            <!-- Nav End -->

          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ##### Header Area End ##### -->

<router-outlet></router-outlet>

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
  <div class="container">
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-12 col-md-6">
        <div class="footer-nav">
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a href="#">Albums</a></li>
            <li><a routerLink="/playlist">Playlist</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
