.userMenu {
  position: relative;
  background-color: #17a2b8;
}

.userMenu:hover {
  background-color: #0165b8;
}

.userMenu:hover .subUserMenu {
  display: inline-grid;
}

.subUserMenu {
  position: absolute;
  display: none;
  left: 0;
  top: 100%;
}

.subUserMenu li:hover {
  background-color: #0d47a1;
}

.subUserMenu li {
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #0165b8;
}
