.userMenu {
  position: relative;
  background-color: rgba(23, 162, 184, 0);
}

.userMenu:hover {
  background-color: rgba(143, 143, 143, 0.16);
}

.userMenu:hover .subUserMenu {
  display: inline-grid;
}

.subUserMenu {
  position: absolute;
  display: none;
  left: 0;
  top: 100%;
}

.subUserMenu li:hover {
  background-color: rgba(13, 71, 161, 0);
}

.subUserMenu li {
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: rgba(143, 143, 143, 0.16);
}
