img {
  border: 1px solid black;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width: 528px;
  height: 528px;
}

.uploadImage {
  width: 100px;
  margin: 0 auto;
}

.button
{
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 56px;
  border-radius: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
}
.button::after
{
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background-color: #2ac275;
  background-image: linear-gradient(to right, #2ac275, #cbdc0b, #2ac275);
  background: #2ac275;
  background: linear-gradient(to right, #2ac275, #cbdc0b, #2ac275);
  content: '';
  z-index: 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.button:hover::after
{
  left: 0;
}
.button a
{
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 1;
  line-height: 56px;
}
.button span
{
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  line-height: 56px;
  text-transform: uppercase;
  z-index: 1;
}

.contact_form_button
{
  margin-top: 8px;
  outline: none;
}
