<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb2.jpg);">
  <div class="bradcumbContent">
    <h2>Upload Song</h2>
  </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="login-content">
          <!-- Create Song Form -->
          <div class="create-song-form">
            <form [formGroup]="createSongForm" (ngSubmit)="onSubmit()" >
              <input type="hidden" formControlName="songId"/>
              <input type="hidden" formControlName="likes"/>
              <input type="hidden" formControlName="views"/>
              <input type="hidden" formControlName="createDate"/>
              <input type="hidden" formControlName="status"/>
              <input type="hidden" formControlName="userId"/>
              <div class="form-group">
                <img [src]="url" alt="">
                <br>
                <br>
                <div class="uploadImage">
                  <label style="cursor: pointer; margin: auto" for="image"><i class="fa fa-upload" aria-hidden="true"></i> Tải lên ảnh</label>
                  <input type="file" id="image" formControlName="songImage" (change)="displayImage($event)" accept="image/*" hidden>
                </div>
              </div>
              <div class="form-group">
                <label for="songName">Tên bài hát:</label>
                <input type="text" class="form-control" id="songName" placeholder="Nhập tên bài hát..." formControlName="songName">
                <p style="color:red;" *ngIf="createSongForm.get('songName').invalid && createSongForm.get('songName').touched">Tên bài hát cần có ít nhất 6 ký tự.</p>
              </div>
              <div class="form-group">
                <label for="singer">Ca sĩ, diễn viên trình diễn:</label>
                <input type="text" class="form-control" id="singer" formControlName="singer">
                <p style="color:red;" *ngIf="createSongForm.get('singer').invalid && createSongForm.get('singer').touched">Tên ca sĩ không được để trống.</p>
              </div>
              <div class="form-group">
                <label for="category">Thể loại</label>
                <select class="form-control" id="category" formControlName="category">
<!--                  <option *ngFor="let cate of categoryList" [value]="cate">{{cate}}</option>-->
                </select>
                <p style="color:red;" *ngIf="createSongForm.get('category').invalid && createSongForm.get('category').touched">Xin hãy chọn thể loại.</p>
              </div>
              <div class="form-group">
                <label for="file">Tải lên bài hát:</label>
                <input type="file" id="file" formControlName="uploadFile" (change)="selectFile($event)">
                <p style="color:red;" *ngIf="createSongForm.get('uploadFile').invalid && createSongForm.get('uploadFile').touched">Bạn cần Upload File</p>
                <button class="btn btn-success" [disabled]="!selectedFile" (click)="upload()">Upload</button>
              </div>
              <div class="form-group">
                <label for="description">Mô tả:</label>
                <input type="text" class="form-control" id="description" formControlName="description">
              </div>
              <button type="submit" [disabled]="!selectedFile" class="btn oneMusic-btn mt-30">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Login Area End ##### -->

