.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.single-hero-slide {
  position: absolute;
  margin: 0 auto;
  width: 60%;
  height: 100vh;
}

.single-hero-slide::after {
  background-color: rgba(0, 0, 0, 0);
}

.hero-slides-content h2{
  height: 60px;
  padding-top: 20px;
}

.hero-slides-content span{
  padding-top: 20px;
  height: 60px;
}
