
<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb3.jpg);">
  <div class="bradcumbContent">
    <p>See what’s new</p>
    <h2>Playlist</h2>
  </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Events Area Start ##### -->
<section class="events-area section-padding-100">
  <div class="container">
    <h3>TOP VIEW PLAYLIST</h3>
    <div class="row">

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-event-area mb-30">
          <div class="event-thumbnail">
            <img src="assets/img/bg-img/e1.jpg" alt="">
          </div>
          <div class="event-text">
            <h4>Dj Night Party</h4>
            <a href="#" class="btn see-more-btn">See Event</a>
          </div>
        </div>
      </div>

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-event-area mb-30">
          <div class="event-thumbnail">
            <img src="assets/img/bg-img/e2.jpg" alt="">
          </div>
          <div class="event-text">
            <h4>The Mission</h4>
            <a href="#" class="btn see-more-btn">See Event</a>
          </div>
        </div>
      </div>

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-event-area mb-30">
          <div class="event-thumbnail">
            <img src="assets/img/bg-img/e3.jpg" alt="">
          </div>
          <div class="event-text">
            <h4>Planet ibiza</h4>
            <a href="#" class="btn see-more-btn">See Event</a>
          </div>
        </div>
      </div>

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-event-area mb-30">
          <div class="event-thumbnail">
            <img src="assets/img/bg-img/e4.jpg" alt="">
          </div>
          <div class="event-text">
            <h4>Dj Night Party</h4>
            <a href="#" class="btn see-more-btn">See Event</a>
          </div>
        </div>
      </div>

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-event-area mb-30">
          <div class="event-thumbnail">
            <img src="assets/img/bg-img/e5.jpg" alt="">
          </div>
          <div class="event-text">
            <h4>The Mission</h4>
            <a href="#" class="btn see-more-btn">See Event</a>
          </div>
        </div>
      </div>

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-event-area mb-30">
          <div class="event-thumbnail">
            <img src="assets/img/bg-img/e6.jpg" alt="">
          </div>
          <div class="event-text">
            <h4>Planet ibiza</h4>
            <a href="#" class="btn see-more-btn">See Event</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="events-area ">
  <div class="container">
    <h3>TOP LIKE PLAYLIST</h3>
    <div class="row">

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-event-area mb-30">
          <div class="event-thumbnail">
            <img src="assets/img/bg-img/e1.jpg" alt="">
          </div>
          <div class="event-text">
            <h4>Dj Night Party</h4>
            <a href="#" class="btn see-more-btn">See Playlist</a>
          </div>
        </div>
      </div>

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-event-area mb-30">
          <div class="event-thumbnail">
            <img src="assets/img/bg-img/e2.jpg" alt="">
          </div>
          <div class="event-text">
            <h4>The Mission</h4>
            <a href="#" class="btn see-more-btn">See Playlist</a>
          </div>
        </div>
      </div>

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-event-area mb-30">
          <div class="event-thumbnail">
            <img src="assets/img/bg-img/e3.jpg" alt="">
          </div>
          <div class="event-text">
            <h4>Planet ibiza</h4>
            <a href="#" class="btn see-more-btn">See Playlist</a>
          </div>
        </div>
      </div>

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-event-area mb-30">
          <div class="event-thumbnail">
            <img src="assets/img/bg-img/e4.jpg" alt="">
          </div>
          <div class="event-text">
            <h4>Dj Night Party</h4>
            <a href="#" class="btn see-more-btn">See Playlist</a>
          </div>
        </div>
      </div>

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-event-area mb-30">
          <div class="event-thumbnail">
            <img src="assets/img/bg-img/e5.jpg" alt="">
          </div>
          <div class="event-text">
            <h4>The Mission</h4>
            <a href="#" class="btn see-more-btn">See Playlist</a>
          </div>
        </div>
      </div>

      <!-- Single Event Area -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="single-event-area mb-30">
          <div class="event-thumbnail">
            <img src="assets/img/bg-img/e6.jpg" alt="">
          </div>
          <div class="event-text">
            <h4>Planet ibiza</h4>
            <a href="#" class="btn see-more-btn">See Playlist</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- ##### Events Area End ##### -->

<!-- ##### Newsletter & Testimonials Area Start ##### -->
<!-- ##### Newsletter & Testimonials Area End ##### -->

<!-- ##### Contact Area Start ##### -->


