
<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb.jpg);">
  <div class="bradcumbContent">
    <h2>My Playlist</h2>
  </div>
</section>

<section class="oneMusic-buy-now-area has-fluid  section-padding-100">
  <div class="container-fluid">
    <div class="createPlayList">
    <app-create-playlist></app-create-playlist>
    </div>
    <div class="row">

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2" *ngFor="let playlist of playlistIDUser">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">

          <div class="album-thumb">
            <div class="album-price" style="position: absolute">
              <button type="button" class="btn btn-primary" style="background-color: red "
                      data-toggle="modal" data-target="#exampleModal1" (click)="delete(playlist.id)">
                <i class="fa fa-trash" ></i>
              </button>
              <button class="btn btn-primary" data-toggle="modal" style="background-color: #2ac275"
                      data-target="#exampleModal" data-whatever="PlayList name" (click)="editPlaylist(playlist.id)">
                <img class="iconEditPL" src="assets/img/edit.png">
              </button>
            </div>
            <img  src="{{playlist.image}}" alt="">
          </div>
          <div class="album-info">
            <a [routerLink]="['/playlist-song', playlist.id]">
              <h5>{{playlist.name}}</h5>
            </a>
          </div>
        </div>


      </div>
    </div>

  </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Playlist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div  *ngIf="message" class="alert alert-success">
        <p style="color: green">{{message}}</p>
      </div>

      <div  *ngIf="failMessage" class="alert alert-danger">
        <p style="color: red;">{{failMessage}}</p>
      </div>

      <div class="modal-body">

        <form [formGroup]="playlistEdit" (ngSubmit)="edit()">

          <div class="form-group">
            <input style="margin-top: 20px" type="text" class="form-control rounded"
                   placeholder="Playlist Name" formControlName="name">
            <p style="color: red" *ngIf="playlistEdit.get('name').invalid && playlistEdit.get('name').touched">
              name playlist not blank
            </p>
          </div>
          <div class="form-group">
            <label for="image">Edit images:</label>
            <input type="file" id="image" (change)="displayImage($event)" >
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- Delete -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Delete Playlist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete playlist?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="deletePlaylist(idPlaylist)"  type="button" data-dismiss="modal" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>






