
<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb.jpg);">
  <div class="bradcumbContent">
    <h2>My Playlist</h2>
  </div>
</section>

<section class="oneMusic-buy-now-area has-fluid  section-padding-100">
  <div class="container-fluid">
    <div class="createPlayList">
    <app-create-playlist></app-create-playlist>
    </div>
    <div class="row">

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2" *ngFor="let playlist of playlistIDUser">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">

          <div class="album-thumb">
            <div class="album-price" style="position: absolute">
              <button (click)="deletePlaylist(playlist.id)" class="btn"><i class="fa fa-trash" ></i></button>
              <button class="btn"><img class="iconEditPL" src="assets/img/edit.png"></button>
            </div>
            <img  src="{{playlist.image}}" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>{{playlist.name}}</h5>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>



