
<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/breadcumb.jpg);">
  <div class="bradcumbContent">
    <h2>My Playlist</h2>
  </div>
</section>

<section class="oneMusic-buy-now-area has-fluid  section-padding-100">
  <div class="container-fluid">
    <div class="createPlayList">
    <app-create-playlist></app-create-playlist>
    </div>
    <div class="row">

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">

          <div class="album-thumb">
            <div class="album-price" style="position: absolute">
              <button class="btn"><i class="fa fa-trash" ></i></button>
              <button class="btn"><img style="width: 15px; height: 15px" src="assets/img/edit.png"></button>
            </div>
            <img src="assets/img/bg-img/b1.jpg" alt="">

          </div>
          <div class="album-info">
            <a href="#">
              <h5>Garage Band</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="200ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b2.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Noises</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="300ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b3.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Jess Parker</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="400ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b4.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Noises</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="500ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b1.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Garage Band</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="600ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b2.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Noises</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b3.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Jess Parker</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="200ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b4.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Noises</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="300ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b1.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Garage Band</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="400ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b2.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Noises</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="500ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b3.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Jess Parker</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="600ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b4.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Noises</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b1.jpg" alt="">
            <!-- Play Icon -->
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Garage Band</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="200ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b2.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Noises</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="300ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b3.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Jess Parker</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="400ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b4.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Noises</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="500ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b1.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Garage Band</h5>
            </a>
          </div>
        </div>
      </div>

      <!-- Single Album Area -->
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
        <div class="single-album-area wow fadeInUp" data-wow-delay="600ms">
          <div class="album-thumb">
            <img src="assets/img/bg-img/b2.jpg" alt="">
          </div>
          <div class="album-info">
            <a href="#">
              <h5>Noises</h5>
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>



