<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../../assets/img/bg-img/breadcumb3.jpg);">
  <div class="bradcumbContent">
    <h2>Registration</h2>
  </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Registration Area Start ##### -->
<section class="login-area section-padding-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="login-content">
          <h3>Welcome To BTBMp3</h3>
          <!-- Login Form -->
          <div class="login-form">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmitRegister()">
              <input type="hidden" formControlName="idUsers" value="1">
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input formControlName="username" type="text" class="form-control">
<!--                <small style="color:red; font-style: italic" *ngIf="registrationForm.get('username').invalid && registrationForm.get('username').touched">Username is required</small>-->
              </div>
              <ng-container formGroupName="pw">
              <div class="form-group">
                <label for="password">Password</label>
                <input formControlName="password" type="password" class="form-control" id="password">
<!--                <small style="color:red; font-style: italic" *ngIf="registrationForm.get('pw').get('password').invalid && registrationForm.get('pw').get('password').touched">Password must include at least 6 character</small>-->
              </div>
              <div class="form-group">
                <label for="confirmPass">Confirm Password</label>
                <input formControlName="confirmpassword" type="password" class="form-control" id="confirmPass">
<!--                <small style="color:red; font-style: italic" *ngIf="registrationForm.hasError('passwordnotmatch', ['pw']) && registrationForm.get('pw').touched">Password not match</small>-->
              </div>
              </ng-container>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="example@btbmp3.com">
<!--                <small style="color:red; font-style: italic" *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">Email is invalid</small>-->
              </div>
              <div class="form-group">
                <label for="fullname">Full name</label>
                <input formControlName="fullname" type="text" class="form-control" id="fullname">
<!--                <small style="color:red; font-style: italic" *ngIf="registrationForm.get('fullname').invalid && registrationForm.get('fullname').touched">Full Name is required</small>-->
              </div>
              <div class="form-group">
                <label for="phonenumber">Phone Number</label>
                <input formControlName="phonenumber" type="text" class="form-control" id="phonenumber" placeholder="0988888888">
<!--                <small style="color:red; font-style: italic" *ngIf="registrationForm.get('phonenumber').invalid && registrationForm.get('phonenumber').touched">Phone number is required</small>-->
              </div>
              <div class="form-group">
                <label for="avatar">Avatar Image</label><br>
                <input formControlName="avatar" type="file" id="avatar" (input)="onChangeAvatar($event)">
              </div>
              <button class="btn oneMusic-btn mt-30">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Registration Area End ##### -->
