<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../../assets/img/bg-img/breadcumb3.jpg);">
  <div class="bradcumbContent">
    <h2>Registration</h2>
  </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Registration Area Start ##### -->
<section class="login-area section-padding-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="login-content">
          <h3>Welcome To BTBMp3</h3>
          <!-- Login Form -->
          <div class="login-form">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmitRegister()">

              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input formControlName="username" type="text" class="form-control rounded">
                <small style="color:red; font-style: italic" *ngIf="registrationForm.get('username').invalid && registrationForm.get('username').touched">Username is required</small>
              </div>

              <ng-container formGroupName="pw">
              <div class="form-group">
                <label for="password">Password</label>
                <input formControlName="password" type="password" class="form-control rounded" id="password">
                <small style="color:red; font-style: italic" *ngIf="registrationForm.get('pw').get('password').invalid && registrationForm.get('pw').get('password').touched">Password must include at least 6 character</small>
              </div>

              <div class="form-group">
                <label for="confirmPass">Confirm Password</label>
                <input formControlName="confirmpassword" type="password" class="form-control rounded" id="confirmPass">
                <small style="color:red; font-style: italic" *ngIf="registrationForm.hasError('passwordnotmatch', ['pw']) && registrationForm.get('pw').touched">Password not match</small>
              </div>
              </ng-container>

              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input formControlName="email" type="email" class="form-control rounded" id="exampleInputEmail1" placeholder="example@btbmp3.com">
                <small style="color:red; font-style: italic" *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">Email is invalid</small>
              </div>
              <small style="color:red; font-styl: italic" *ngIf="messageRespond">{{messageRespond}}</small>
              <br>

              <button class="btn oneMusic-btn mt-30 rounded" >Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Registration Area End ##### -->
